{% extends  "base.html" %}
{% block title %} BACKTESTING {% endblock %}

{% block content %}  

<div class="container">

    <h1 class="app-page-title">BACKTESTING POR GRUPOS</h1>

    <div class="row g-4 mb-4">
        <div class="col-12">
            <div class="app-card app-card-progress-list h-100 shadow-sm">
                <div class="app-card-header p-3">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            {% if metric == "marketCap" %}
                                <h4 class="app-card-title">MÉTRICA: Capitalización de Mercado </h4>
                            {% else %} 
                                <h4 class="app-card-title">MÉTRICA: Volumen </h4>
                            {% endif %}
                        </div><!--//col-->
                    </div><!--//row-->
                </div><!--//app-card-header-->
                <div class="app-card-body mt-4 mx-4">
                    {% include 'list_backtesting.html' %}    
                </div><!--//app-card-body-->
            </div><!--//app-card-->
        </div><!--//col-->
    </div>

</div>

{% endblock %}