{% extends  "base.html" %}
{% block title %} BACKTESTING {% endblock %}

{% block content %}  


    <div>
        <div id="">
            <form method="POST" action="/backtesting/metrics/value">
                <fieldset>
                    <legend>Backtesting Grupos de Activos</legend> 
                    <p>Estas son las acciones con su correspondiente {{metric}}:</p>
                    {% for stock in list_stocks %}
                        <p>{{stock.ticker}}: {{stock.metric}}</p>
                    {% endfor %}
                    <p>Ahora, introduce un "separador:" </p>
                    <p>*Todos los activos cuya métrica sea inferior o igual al "separador" se incluirán en el Grupo 1.</p>
                    <p>*Todos los activos cuya métrica sea superior al "separador" se incluirán en el Grupo 2.</p>
                    <p><label>Separador:</label> <input type="number" name="separator" /></p>
                    <input type="hidden" name="metric" value="{{metric}}" /></p>
                    <button type="submit" name="submit_separator">Ver Configuración Backtesting</button>
                </fieldset>
            </form>
        </div>
    </div>

    

{% endblock %}