{% extends  "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}
    <ul>
        <li><a href="/search-user">Buscar Usuario</a></li>
        <li><a href="/search-portfolio">Buscar Cartera</a></li>
        <li><a href="/backtesting/asset">Backtesting Activo</a></li>
        <li><a href="/backtesting/portfolio">Backtesting Cartera</a></li>
        <li><a href="/backtesting/metrics">Backtesting por Grupos</a></li>
        <li><a href="/backtesting/optimization-portfolio">Optimizar Cartera</a></li>
        <li><a href="/backtesting/live-trading">Trading en Tiempo Real</a></li>
        <li><a href="/backtesting/search-backtesting">Buscar Backtesting</a></li>
        <li><a href="/other/backtesting-manual-pre">Backtesting Manual</a></li>
        {% if 'user_name' in session and session['user_role'] == "Admin" %}
            <li><a href="/list-all-users">Ver Todos los Usuarios</a></li>
            <li><a href="/upload-historic-data">Subir Datos Históricos</a></li>
            <li><a href="/delete-historic-data">Eliminar Datos Históricos</a></li>
        {% elif 'user_name' in session and session['user_role'] == "User" %}
            <li><a href="/create-portfolio">Crear Cartera</a></li>
            <li><a href="/list-my-portfolios?id={{session['user_id']}}">Lista Carteras</a></li>
            <li><a href="/backtesting/list-my-backtestings?id={{session['user_id']}}">Lista Backtestings</a></li>
            <li><a href="/other/write-journal">Diario de Trading</a></li>
            <li><a href="{{url_for('views_other.list_journal', id = session['user_id'])}}">Mis Diarios de Trading</a></li>
            <li><a href="{{url_for('views_other.list_backtesting_manual', id = session['user_id'])}}">Mis Backtesting Manuales</a></li>
        {% endif %}
    </ul>
{% endblock %}