{% extends  "base.html" %}
{% block title %} Portfolio {% endblock %}

{% block content %}  
    <h1>INFORMACIÓN DE CARTERA</h1>
    {% if 'user_name' in session and session['user_id'] == user.id %}
        {% if portfolio.shared == False %}
            <form action="/share-portfolio" method="POST">
                <input type="hidden" name="portfolio_id" value="{{portfolio.id}}"/>
                <button type="submit" name="share_portfolio" onclick="return confirm_share_portfolio()">Compartir Cartera</button>
            </form>
        {% endif %}
        <form action="/finish-portfolio" method="POST">
            <input type="hidden" name="portfolio_id" value="{{portfolio.id}}"/>
            <button type="submit" name="finish_portfolio" onclick="return confirm_finish_portfolio()">Terminar Cartera</button>
        </form>
    {% endif %}
    <div>
        <h2>Información general</h2>
        <p>Nombre de la cartera: {{portfolio.name}}</p>
        <p>Propietario de la Cartera: {{user.user_name}}</p>
        <p>Privacidad: {% if portfolio.shared %} Pública {% else %} Privada {% endif %}</p>
        <p>Moneda: {{ portfolio.currency }} *(Los valores de la sección "Datos" están denominados en esta moneda)</p>
    </div>
    <div>
        <h2>Datos</h2>
        <ul>
            <li>Capital: {{portfolio.current_cash}}</li>
            <li>Valor de Mercado Total: {{portfolio.total_market_value}}</li>
            <li>Equity Total: {{portfolio.total_equity}}</li>
            <li>PyG No Realizado: {{portfolio.total_unrealised_pnl}}</li>
            <li>PyG Realizado: {{portfolio.total_realised_pnl}}</li>
            <li>PyG Total: {{portfolio.total_pnl}}</li>
        </ul>
    </div>
    <div>
        <h2>Posiciones</h2>
        {% if 'user_name' in session and session['user_id'] == user.id %}
            <button name="add_position" onclick=show_modify_position(name)>Añadir Posición</button>
                        <div id="add_position" style="display:none">
                            <form action="/modify-portfolio" method="POST">
                                <input type="hidden" name="portfolio_id" value="{{portfolio.id}}"/>
                                <input type="text" name="asset"/>
                                <select name="direction">
                                    <option value="1">Comprar</option>
                                    <option value="-1">Vender</option>                                               
                                </select>
                                <input type="number" name="quantity"/>
                                <button type="submit" name="modify_position" onclick="return confirm_modify_position()">Ejecutar</button>
                            </form>
                        </div>
        {% endif %}
        {% for asset,position in portfolio.portfolio_to_dict().items() %}
            <div>
                <h3>{{asset}}</h3>
                {% if 'user_name' in session and session['user_id'] == user.id %}
                    <button name="{{position['position_id']}}" onclick=show_modify_position(name)>Modificar</button>
                    <div id="{{position['position_id']}}" style="display:none">
                        <form action="/modify-portfolio" method="POST">
                            <input type="hidden" name="position_id" value="{{position['position_id']}}"/>
                            <input type="hidden" name="portfolio_id" value="{{portfolio.id}}"/>
                            <input type="hidden" name="asset" value="{{asset}}"/>
                            <select name="direction">
                                <option value="1">Comprar</option>
                                <option value="-1">Vender</option>                                               
                              </select>
                            <input type="number" name="quantity"/>
                            <button type="submit" name="modify_position" onclick="return confirm_modify_position()">Ejecutar</button>
                        </form>
                    </div>
                {% endif %}
                <table>
                    <tr>
                        <th>Cantidad</th>
                        <th>{{position["quantity"]}}</th>
                    </tr>
                    <tr>
                        <th>Valor de Mercado</th>
                        <th>{{position["market_value"]}}</th>
                    </tr>
                    <tr>
                        <th>PyG No Realizado</th>
                        <th>{{position["unrealised_pnl"]}}</th>
                    </tr>
                    <tr>
                        <th>PyG Realizado</th>
                        <th>{{position["realised_pnl"]}}</th>
                    </tr>
                    <tr>
                        <th>PyG Total</th>
                        <th>{{position["total_pnl"]}}</th>
                    </tr>
                </table>
            </div>
        {% endfor %}
    </div>
    <div>
        <h2>Otros datos</h2>
        <table>
            <tr>
                <th>Código de Transacción</th>
                <th>Activo</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Comisión</th>
                <th>Fecha</th>
            </tr>
            {% for transaction in portfolio.get_list_transactions() %}
            <tr>
                <th>{{transaction.id}}</th>
                <th>{{transaction.asset}}</th>
                <th>{{transaction.quantity}}</th>
                <th>{{transaction.price}}</th>
                <th>{{transaction.commission}}</th>
                <th>{{transaction.dt}}</th>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}