{% extends  "base.html" %}
{% block title %} PRECIOS HISTÓRICOS {% endblock %}

{% block content %}  
    <div class="container">

        <h1 class="app-page-title">DATOS HISTÓRICOS</h1>

        <div class="row g-4 mb-4">
            <div class="col-12">
                <div class="app-card app-card-progress-list h-100 shadow-sm">
                    <div class="app-card-header p-3">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-auto">
                                <h4 class="app-card-title">{{asset.ticker}}</h4>
                            </div><!--//col-->
                        </div><!--//row-->
                    </div><!--//app-card-header-->
                    <div class="app-card-body mt-4 mx-4 mb-4">
                        <img id="img-equity-curve-chart" src='data:image/png;base64,{{chart}}' class="rounded mx-auto d-block img-fluid">
                    </div><!--//app-card-body-->
                </div><!--//app-card-->
            </div><!--//col-->
        </div>

        <div class="row g-4 mb-4">
            <div class="col-12">
                <div class="app-card app-card-progress-list h-100 shadow-sm">
                    <div class="app-card-header p-3">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-auto">
                                <h4 class="app-card-title">{{asset.ticker}}</h4>
                            </div><!--//col-->
                        </div><!--//row-->
                    </div><!--//app-card-header-->
                    <div class="app-card-body mt-4 mx-4 mb-4">
                        <div class="d-flex justify-content-center" style="height:700px;"> 
                            <div class="overflow-auto">
                                {{ asset_prices | safe }}  
                            </div>
                        </div>  
                    </div><!--//app-card-body-->
                </div><!--//app-card-->
            </div><!--//col-->
        </div>


        
    </div>
{% endblock %}