{% extends  "base.html" %}
{% block title %} User {% endblock %}

{% block content %}  

    <h1>Información de usuario</h1>
    {% if 'user_name' in session and (session['user_role'] == "Admin" or session['user_id'] == user.id) %}
        <form action="/delete-user" method="POST">
            <input type="hidden" name="user_name" value="{{user.user_name}}"/>
            <button type="submit" name="delete_user" onclick="return confirm_delete_user()">Eliminar</button>
        </form>
    {% endif %}
    <ul>
        <li>
            Nombre de Usuario: {{user.user_name}}
            {% if 'user_name' in session and (session['user_role'] == "Admin" or session['user_id'] == user.id) %}
                <button onclick=show_modify_user_name()>Modificar</button>
                <div id="modify_user_name" style="display:none">
                    <form action="/modify-user" method="POST">
                        <p>Introduce el nuevo nombre de usuario:</p>
                        <input type="hidden" name="user_id" value="{{user.id}}"/>
                        <input type="text" name="user_name" id="input_user_name"/>
                        <button type="submit" name="modify_user_name" onclick="return confirm_modify_user()">Modificar</button>
                    </form>
                </div>
            {% endif %}
            
        </li>
        <li>
            Nombre Completo: {{user.user_full_name}}
            {% if 'user_name' in session and (session['user_role'] == "Admin" or session['user_id'] == user.id) %}
                <button onclick=show_modify_user_full_name()>Modificar</button>
                <div id="modify_user_full_name" style="display:none">
                    <form action="/modify-user" method="POST">
                        <p>Introduce el nuevo nombre completo:</p>
                        <input type="hidden" name="user_id" value="{{user.id}}"/>
                        <input type="text" name="user_full_name" id="input_user_full_name"/>
                        <button type="submit" name="modify_user_full_name" onclick="return confirm_modify_user()">Modificar</button>
                    </form>
                </div>
            {% endif %}
        </li>
        {% if 'user_name' in session and (session['user_role'] == "Admin" or session['user_id'] == user.id) %}
                <button onclick=show_modify_user_password()>Modificar Contraseña</button>
                <div id="modify_user_password" style="display:none">
                    <form action="/modify-user" method="POST">
                        <p>Introduce la nueva contraseña dos veces:</p>
                        <input type="hidden" name="user_id" value="{{user.id}}"/>
                        <input type="password" name="password" id="input_user_password"/>
                        <input type="password" name="password2" id="input_user_password2"/>
                        <button type="submit" name="modify_user_password" onclick="return confirm_modify_password()">Modificar</button>
                    </form>
                </div>
            {% endif %}
    </ul>

{% endblock %}